<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.byference.mybatis.mapper.UserInfoMapper">


    <select id="selectAll" resultType="com.github.byference.mybatis.entity.UserInfo">
        select id "id", user_name "userName", user_level "userLevel" from user_info
    </select>


</mapper>